<h1>Редагування столиці</h1>

<div class="form_container">
  <%= render 'form', capital: @capital %>
  <div class="ref_container">
    <%= link_to 'Детальніше', @capital %> |
    <%= link_to 'Назад', capitals_path %>
  </div>
</div>
