<% provide(:title, "Зареєструватися") %>
<h1>Зареєструватися</h1>

<div class="form_container">
  <%= render 'form', user: @user %>
  <div class="ref_container">
    <%= link_to 'Назад', attractions_path %>
  </div>
</div>
