<h1>Редагування країни</h1>

<div class="form_container">
  <%= render 'form', country: @country %>
  <div class="ref_container">
    <%= link_to 'Детальніше', @country %> |
    <%= link_to 'Назад', countries_path %>
  </div>
</div>
