<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="collapse navbar-collapse" id="site-nav">
        <ul class="nav navbar-nav">
          <li><%= link_to "Пам'ятки природи", attractions_path %></li>
          <li><%= link_to "Країни", countries_path %></li>
          <li><%= link_to "Столиці", capitals_path %></li>
          <li><%= link_to "Зареєструватися", signup_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</nav>
