<h1>Редагування пам'ятки природи</h1>

<div class="form_container">
  <%= render 'form', attraction: @attraction %>
  <div class="ref_container">
    <%= link_to 'Детальніше', @attraction %> |
    <%= link_to 'Назад', attractions_path %>
  </div>
</div>
