<h1>Нова пам'ятка природи</h1>

<div class="form_container">
  <%= render 'form', attraction: @attraction %>
  <div class="ref_container">
    <%= link_to 'Назад', attractions_path %>
  </div>
</div>
